{# empty Twig template #}
{% set params = { 'candidate_id': candidate_id} %}

{{ set_assets('applications/Jobs/assets/js/job.js') }}
{{ set_assets('applications/Jobs/assets/css/job.css') }}

{% set documents = callFunction( "Jobs.Candidates.Code.Models.CandidatesModel", 'getDocuments', params ) %}
<div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% if documents|length > 0 %}
                {% for document in documents %}
                    <tr>
                        <td>
                            {{ document.media.title }}
                        </td>
                        <td>
                            {{ document.date_created|date('d M Y H:i') }}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs btn-flat">
                                Download File
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        No Records to Show.
                    </td>
                </tr>
            {% endif %}
        <tbody>
    </table>
</div>